<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="" />
    <title> Add Story </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css}" />
    <!-- nice select  -->
    <!--<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css}" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />-->
    <!-- font awesome style -->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!-- responsive style -->
    <link th:href="@{/css/responsive.css}" rel="stylesheet" />
</head>
<body>
<th:book th:replace="layout :: header"></th:book>

<div class="container1 justify-content-center align-items-center" style="background-color: #222831; padding: 20px; color: white;">
    <div class="d-flex justify-content-center align-items-center">
        <h1>Story Add</h1>
    </div>
    <form th:action="@{/truyens/add}" th:object="${truyen}" method="post" style="max-width: 1500px; width: 100%; margin: 0 0 0 380px;">
        <div class="col-6 mb-3">
            <label class="form-label" for="tentruyen">Tên Truyện:</label>
            <input class="form-control" type="text" th:field="*{tentruyen}" id="tentruyen" style="--bs-border-radius: 30px;">
            <span th:if="${#fields.hasErrors('tentruyen')}" th:errors="*{tentruyen}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="tacgia">Tác Giả:</label>
            <input class="form-control" type="text" th:field="*{tacgia}" id="tacgia" style="--bs-border-radius: 30px;">
            <!--<span th:if="${#fields.hasErrors('tacgia')}" th:errors="*{tacgia}" class="text-danger"></span>-->
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="nhaxuatban">Nhà Xuất Bản:</label>
            <input class="form-control" type="text" th:field="*{nhaxuatban}" id="nhaxuatban" style="--bs-border-radius: 30px;">
            <!--<span th:if="${#fields.hasErrors('nhaxuatban')}" th:errors="*{nhaxuatban}" class="text-danger"></span>-->
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="mota">Mô Tả:</label>
            <input class="form-control" type="text" th:field="*{mota}" id="mota" style="--bs-border-radius: 30px;">
            <!--<span th:if="${#fields.hasErrors('mota')}" th:errors="*{mota}" class="text-danger"></span>-->
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="gia">Giá bán:</label>
            <input class="form-control" type="text" th:field="*{gia}" id="gia" style="--bs-border-radius: 30px;">
            <span th:if="${#fields.hasErrors('gia')}" th:errors="*{gia}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="theloai">Danh mục:</label>
            <select class="form-control" id="theloai" name="theloai.id" style="border-radius: 30px;">
                <!--<option value="">&#45;&#45; DS Thể Loại &#45;&#45;</option>-->
                <option th:each="theloai : ${theloais}" th:value="${theloai.id}" th:text="${theloai.tentheloai}"></option>
            </select>
            <span th:if="${#fields.hasErrors('theloai')}" th:errors="*{theloai}" class="text-danger"></span>
        </div>
    </form>
    <div class="d-flex justify-content-center align-items-center">
        <input type="submit" class="btn btn-primary" value="Thêm mới" style="border-radius: 30px;">
        <button class="btn btn-primary" style="border-radius: 30px; margin: 0 0 0 30px;">
            <a th:href="@{/truyens}" style="color: white;">Trở lại</a>
        </button>
    </div>
</div>

<th:block th:replace="layout::footer"></th:block>

<!-- jQery -->
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<!-- popper js -->
<script th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!-- bootstrap js -->
<script th:src="@{/js/bootstrap.js}"></script>
<!-- owl slider -->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js}"></script>
<!-- isotope js -->
<script th:src="@{https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js}"></script>
<!-- nice select -->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js}"></script>
<!-- custom js -->
<script th:src="@{/js/custom.js}"></script>
<!-- Google Map -->
<script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap}"></script>
<!-- End Google Map -->
</body>
</html>
